
<!DOCTYPE html>
<html class="no-js aws-lng-en_US">
{% include 'header.html' %}


<!--HERE is the start of admin panel -->
  <!-- Actual content TODO look at https://aws.amazon/ec2/?nc2=h_m1 -->
  <div id="aws-page-content" class="lb-none-pad lb-page-content"
data-page-alert-target="true">
        <div class="wrapper row" id="position-me">
        <div class="twelve columns" id="change-me">
        <div class="parsys col1">
        <div class="table-wrapper-section" style="overflow-x:auto;">
        <div id="instances-yo" class="aws-table" data-is-sticky-header="false">
    <!--  content
       THe tables to edit/delete and isnert instances
    -->
            <container>
<script>
	$('.table-wrapper-scroll-y').css('max-height', $(window).height());
</script>

<div class="table-wrapper-scroll-y">
<table id="table-instances-admin" width="100%" cellspacing="0" cellpadding="1" border="0">
    <tbody><tr><td style="max-width: 50px;"><b>delete</b></td><td id="table-button"><b>update</b></td><td><b>Instance Name</b></td><td><b>Instance Type</b></td><td><b>vCPUs</b></td><td><b>Memory (KB)</b></td><td><b>features</b></td><td><b>virtualizations</b></td><td><b>architectures</b></td><td><b>placementGroupsSupported</b></td><td><b>rootDeviceTypes</b></td><td><b>ephemeralsSupported</b></td><td><b>publicFacing</b></td><td><b>dedicatedTenancySupported</b></td><td><b>ipv6Supported</b></td><td><b>egpuSupported</b></td><td><b>platforms</b></td><td><b>hypervisors</b></td><td><b>cpuOptions type</b></td><td><b>threadsPerCore</b></td><td><b>coreCounts</b></td><td><b>defaultThreadsPerCore</b></td><td><b>defaultCoreCount</b></td></tr></thead><tbody>

        <tr>
		<!--this is entrance for insert -->
            <td></td>
            <form action="{{ url_for('add_instance') }}" method="POST">
                <td id="table-button"><input type="submit" name="insert" value="insert" /></td>
				<td class='name'> <input type="text" size="20" name="name" value="*" /> </td>
                <td class='InstanceType_type'> <input type="text" size="35" name="InstanceType_type" value="*" /> </td>
                <td class='vCPUs'>  <input type="text" name="vCPUs" value="*"/> </td>
                <td class='memoryKB'>  <input type="text" size="7" name="memoryKB" value="*"/> </td>
                <td class='features'>  <input type="text" size="12" name="features" value="*"/> </td>
                <td class='virtualizations'>  <input type="text" size="18" name="virtualizations" value="*"/> </td>
                <td class='architectures'>  <input type="text" size="15" name="architectures" value="*"/> </td>
                <td class='placementGroupsSupported'>  <input type="text" name="placementGroupsSupported" value="*"/> </td>
                <td class='rootDeviceTypes'>  <input type="text" size="35" name="rootDeviceTypes" value="*"/> </td>
                <td class='ephemeralsSupported'>  <input type="text" name="ephemeralsSupported" value="*"/> </td>
                <td class='publicFacing'>  <input type="text" name="publicFacing" value="*"/> </td>
                <td class='dedicatedTenancySupported'>  <input type="text" name="dedicatedTenancySupported" value="*"/> </td>
                <td class='ipv6Supported'>  <input type="text" name="ipv6Supported" value="*"/> </td>
                <td class='egpuSupported'>  <input type="text" name="egpuSupported" value="*"/> </td>
                <td class='platforms'>  <input type="text" size="10" name="platforms" value="*"/> </td>
                <td class='hypervisors'>  <input type="text" size="15" name="hypervisors" value="*"/> </td>
                <td class='CpuOptions_type'>  <input type="text" size="35" name="CpuOptions_type" value="*"/> </td>
                <td class='threadsPerCore'>  <input type="text" name="threadsPerCore" value="*"/> </td>
                <td class='coreCounts'>  <input type="text" size="30" name="coreCounts" value="*"/> </td>
                <td class='defaultThreadsPerCore'>  <input type="text" name="defaultThreadsPerCore" value="*"/> </td>
                <td class='defaultCoreCount'>  <input type="text" name="defaultCoreCount" value="*"/> </td>
            </form>
        </tr>

    <!--All names are the same as JSON file exepct -type since 2 htus prefaced with InstanceType_type
		and CpuOptions_type
	-->
	{% for instance in instances %}
        <tr>
            <form action="{{ url_for('change_instance', iname=instance['name']) }}" method="POST">
            <td style="max-width: 50px;"><input type="submit" name="change_instance" value="delete" /></td>
                <td id="table-button"><input type="submit" name="change_instance" value="update" /></td>
                <td class='name'> <input type="text" size="20" name="name" value="{{ instance['name'] }}" readonly="readonly"/> </td>
                <td class='InstanceType_type'> <input type="text" size="35" name="InstanceType_type" value="{{ instance['_type'] }}" /> </td>
                <td class='vCPUs'>  <input type="text" name="vCPUs" value="{{ instance['vCPUs'] }}"/> </td>
                <td class='memoryKB'>  <input type="text" size="7" name="memoryKB" value="{{ instance['memoryKB'] }}"/> </td>
                <td class='features'>  <input type="text" size="12" name="features" value="{{instance['features']|join(', ')}}"/> </td>
                <td class='virtualizations'>  <input type="text" size="18" name="virtualizations" value="{{instance['virtualizations']|join(', ')}}"/> </td>
                <td class='architectures'>  <input type="text" size="15" name="architectures" value="{{instance['architectures']|join(', ')}}"/> </td>
                <td class='placementGroupsSupported'>  <input type="text" name="placementGroupsSupported" value="{{instance['placementGroupsSupported']}}"/> </td>
                <td class='rootDeviceTypes'>  <input type="text" size="35" name="rootDeviceTypes" value="{{instance['rootDeviceTypes']|join(', ')}}"/> </td>
                <td class='ephemeralsSupported'>  <input type="text" name="ephemeralsSupported" value="{{instance['ephemeralsSupported']}}"/> </td>
                <td class='publicFacing'>  <input type="text" name="publicFacing" value="{{instance['publicFacing']}}"/> </td>
                <td class='dedicatedTenancySupported'>  <input type="text" name="dedicatedTenancySupported" value="{{instance['dedicatedTenancySupported']}}"/> </td>
                <td class='ipv6Supported'>  <input type="text" name="ipv6Supported" value="{{instance['ipv6Supported']}}"/> </td>
                <td class='egpuSupported'>  <input type="text" name="egpuSupported" value="{{instance['egpuSupported']}}"/> </td>
		<!--IF here since some dont have enaRequired -->
                <td class='platforms'>  <input type="text" size="10" name="platforms" value="{{instance['platforms']|join(', ')}}"/> </td>
                <td class='hypervisors'>  <input type="text" size="15" name="hypervisors" value="{{instance['hypervisors']|join(', ')}}"/> </td>

                <td class='CpuOptions_type'>  <input type="text" size="35" name="CpuOptions_type" value="{{instance['cpuOptions']['_type']}}"/> </td>
                <td class='threadsPerCore'>  <input type="text" name="threadsPerCore" value="{{instance['cpuOptions']['threadsPerCore']|join(', ')}}"/> </td>
                <td class='coreCounts'>  <input type="text" size="30" name="coreCounts" value="{{instance['cpuOptions']['coreCounts']|join(', ')}}"/> </td>
                <td class='defaultThreadsPerCore'>  <input type="text" name="defaultThreadsPerCore" value="{{instance['cpuOptions']['defaultThreadsPerCore']}}"/> </td>
                <td class='defaultCoreCount'>  <input type="text" name="defaultCoreCount" value="{{instance['cpuOptions']['defaultCoreCount']}}"/> </td>

                
            </form>
        </tr>
    {% endfor %}

  </tbody>
</table>
</div>
 </container>
        </div>
        </div>
        </div>
        </div>
        </div>
  </div>
<!--HERE is the end of admin panel -->


  <div id="aws-page-end"></div>
  <div id="lb-page-end"></div>

  <script
src="https://a0.awsstatic.com/pre-offer/1.0.9/content/sitePriv/main.js"
async=""></script>
  <script src="https://a0.awsstatic.com/da/js/1.0.32/aws-da.js"></script>
  <!-- SiteCatalyst code version: H.25.1. Copyright 1996-2012 Adobe, Inc. All
Rights Reserved -->
 </body>
</html>


