<head>
    <title>Account Dashboard</title>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">

<meta name="awsc-mezz" content="1">
<meta id="awsc-mezz-region" name="awsc-mezz-region" content="us-east-1">
<meta id="awsc-mezz-locale" name="awsc-mezz-locale" content="en">
<meta id="awsc-mezz-fb" name="awsc-mezz-fb" content="0">
<meta id="awsc-proxy-request-id" name="awsc-proxy-request-id" content="5bcc943926413a7cffd1643f26914e67">

<meta id="awsc-signin-endpoint" name="awsc-signin-endpoint" content="signin.aws.amazon.com">
<meta id="awsc-enable-mobile-mezzanine" name="awsc-enable-mobile-mezzanine" content="1">
<meta id="awsc-enable-switchrole-username-menu" name="awsc-enable-switchrole-username-menu" content="1">
<meta id="awsc-experiment" name="awsc-experiment" content="1">

<style type="text/css">
html, body, #b, #cc {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

#h {
  overflow: hidden;
}

#b {
  position: relative;
  min-height: 100%;
}

#cc {
  padding-bottom: 39px;
}

#f {
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}

#f #consoleNavFooter #footer-content {
  padding: 10px 0;
  margin: 0 30px;
  border-top: 1px solid #ccc;
}

#consoleNavFooter {
  margin-top: 9px;
}

#h #awsgnav #nav-menubar {
  margin: 0 0 15px;
}

</style>

<link rel="stylesheet" type="text/css" href="https://d2q66yyjeovezo.cloudfront.net/css/menu-2kjdfskljflksdfjk/globalnav-02cb627868d71796aca4c5ae66496a5b2d1daf4c.gz.css" charset="utf-8">
<link rel="stylesheet" type="text/css" href="https://d2q66yyjeovezo.cloudfront.net/css/mezz-35gbnwov975sjdhcbsf/custsat-84664cb572e6784c249bfd3cf57cfe92faaa15fb.gz.css" charset="utf-8">
<script type="text/javascript" src="https://d2q66yyjeovezo.cloudfront.net/js/mezz-35gbnwov975sjdhcbsf/mezz-e0d99354e6762e505ab21f2fdf1ec415db772e64.gz.js" charset="utf-8"></script>

<meta name="awsc-lang" content="en_US">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- If a webpage contains numbers that can be interpreted as phone numbers, iOS by default
adds Phone Links to it. This is to turn off telephone number detection in iOS Safari. -->
<meta name="format-detection" content="telephone=no">
                
<link href="https://d3e73gntqoo76d.cloudfront.net/3eb2f824da807a4db0a414a4ec1b7e21a4a7c739/common.css" rel="stylesheet" type="text/css">
                
<link href="https://d3e73gntqoo76d.cloudfront.net/3eb2f824da807a4db0a414a4ec1b7e21a4a7c739/main.css" rel="stylesheet" type="text/css">

<link type="text/css" rel="stylesheet" href="https://d257l1zb7u5fh9.cloudfront.net/css/billingconsole_css_prod_v710efd88d0657957f9cb4d5fec659303cece98b8.gz.css">

<link type="text/css" rel="stylesheet" href="https://d257l1zb7u5fh9.cloudfront.net/css/billingconsole_bills_assets_prod_ve1da290708509e11cdb48f361ca48b381a644671.gz.css">

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Amazon Web Services (AWS) -  EC2 Instances</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="robots" content="index, nofollow" />
  <meta name="description" content="Amazon Web Services EC2 Instances" />

  <link rel="icon" type="image/ico"
href="https://a0.awsstatic.com/libra-css/images/site/fav/favicon.ico" />
  <link rel="shortcut icon" type="image/ico"
href="https://a0.awsstatic.com/libra-css/images/site/fav/favicon.ico" />
  <link rel="apple-touch-icon" sizes="57x57"
href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-iphone-114-smile.png"
/>
  <link rel="apple-touch-icon" sizes="72x72"
href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-ipad-144-smile.png"
/>
  <link rel="apple-touch-icon" sizes="114x114"
href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-iphone-114-smile.png"
/>
  <link rel="apple-touch-icon" sizes="144x144"
href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-ipad-144-smile.png"
/>
  <link rel="stylesheet" href="https://a0.awsstatic.com/main/css/1.0.391/style.css">
  <link rel="stylesheet"
href="https://a0.awsstatic.com/libra-css/css/1.0.190/style-awsm.css">
  <link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://a0.awsstatic.com/libra-css/css/1.0.202/vendor/fontawesome.css" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/61Brdu0o6LL._RC|11Fd9tJOdtL.css,21y5jWQoUML.css,31Q3id-QR0L.css,31P8A7PnBZL.css_.css#AUIClients/AmazonUI.min">
    <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/01SdjaY0ZsL._RC|41i8aEvLYXL.css,21EmREG-NIL.css_.css#AUIClients/AuthenticationPortalAssets.debug.secure-true.min">
    <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/CVFAssets-e91ba5c6e67c58c7f9c4c413fa67697feade389e._V2_.css#AUIClients/CVFAssets.debug.secure-true.min">

</head>
    <header id="aws-page-header" class="awsm" role="banner" style="margin-bottom=220px; padding-bottom=220px;">
   <div id="aws-nav" class="aws-nav" role="navigation">
    <div class="aws-nav-header">
     <!-- Left header with filter dropdown and aws logo TODO put back in
products to have dropdown
         for all ec2 instances --> 
      <div class="aws-bg-logo lb-bg-logo
aws-amazon_web_services_smile-header-desktop-en">
       <a href="{{ url_for('index') }}"><span>Click here to return to Amazon Web
Services EC2 Instances homepage</span></a>
      </div>
      
     </div>
     </div>
  </header>

<div style="padding-top: 120px; ">
</div>

<div id="cc">
    <div id="c">    
    <div class="aws-billing-console-span10"> 
      <div class="aws-billing-console-row-fluid">
      <div class="aws-billing-console-span12 plutonium aws-billing-console-root">
          <div class="span10 animation-container animation-load-contents" id="as"> 
          {% if session.type and session.type == 2 %}
          <h3>Please verify your email!</h3>
          {% endif %}
            <div class="account-information-container" style="margin-top=600px; padding-top=100px;">
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
             <h2 class="left account-info-header word-ellipsis w70p cursor-pointer" >Account Settings</h2> <hr> 
            <div class="margin-bottom-40" style="text-align: left"> 
              <label class="account-information-label"><p>Account Name:</p></label>
             <p id=username>{{ username }}</p><br>
            <label class="account-information-label"><p>Password: </p></label><p id="passwordField">     **********</p><br> 
             <label class="account-information-label ">
             {% if session.type and session.type < 2 %}
             <form action="{{ url_for('change_password') }}">
                 <input type="submit" value="Change password" />
             </form>
             {% endif %}
             </label>
             
           
            </div>
            </div> 
            </div> 
            
            
            <div id="ci">
            
            <h2 class="left account-info-header word-ellipsis cursor-pointer">Contact Information</h2> <hr> 
            <div class="margin-bottom-40"> 
                <p><span>Please note that updating your contact information on this page will not update the information displayed on your PDF Invoices. If you wish to update the billing address information associated with your Invoice, please edit it through the Payment Methods page.</span></p> 
                <div class="overflow-hidden margin-top-20 account-information"> 
                        <div class="account-information-container"> 
                            <form action="{{ url_for('update_info') }}" method="post">
                              <dl>
                               <dt>Firstname:</dt>
                               <dd><input type="text" name="firstname" value="{{ firstname }}"></dd>
                               <dt>Lastname:</dt>
                               <dd><input type="text" name="lastname" value="{{ lastname }}"></dd>
                               <dt>Email:</dt>
                               <dd><input type="text" name="email" value="{{ email }}"></dd>
                              </dl>
                              {% if session.type and session.type < 2 %}
                              <input type="submit" value="Edit information">
                              {% endif %}
                             </form>
                             <br>
                        </div>
            <div id="pcp">
                <h2 class="account-info-header word-ellipsis cursor-pointer" >Payment Currency Preference</h2> <hr> 
                <div class="margin-bottom-40"> 
                    <div ng-show="showLocalCurrencyPreference.isVisible" ng-if="!incompatiblePaymentMethod" class="ng-scope"> 
                        <p> <span id="account__currency-text" ng-bind-html="localCurrencyText" data-testid="aws-billing-account-form-currency-preference-local-currency-description" class="ng-binding">AWS services are priced in US Dollars. If you prefer to pay in a different currency, AWS can charge your Visa or MasterCard in any of the currencies below. Your credit card issuer may charge a fee for transactions in other currencies. You can change your currency preference any time.</span> </p> <!-- ngIf: !(isEditingLocalPaymentPreferencesInfo || isDirectDebit) -->
                        <div ng-if="!(isEditingLocalPaymentPreferencesInfo || isDirectDebit)" class="margin-top-20 ng-scope"> 
                            <form action="{{ url_for('update_info') }}" method="post">
                              <dl>
                               <dt>Payment currency: {{ price }}</dt>
                               <select name="payment">
                                {% for price in prices %}
                                    {% if price == payment %}
                                        <option value="{{ price }}" selected>{{ price }}</option>
                                    {% else %}
                                        <option value="{{ price }}">{{ price }}</option>
                                    {% endif %}
                                {% endfor %}
                               </select>
                              </dl>
                              {% if session.type and session.type < 2 %}
                              <input type="submit" value="Edit Payment">
                              {% endif %}
                            </form>
                        </div>
                    </div>
                </div> 
            </div>
                </div></div></div>
            </div>
            </div>
            </div>
            </div>
            </div>
                    
                   
                    
                    
        

                    

