<!--This is the header for pages with tables of the instances-->
 <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Amazon Web Services (AWS) -  EC2 Instances</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="robots" content="index, nofollow" />
  <meta name="description" content="Amazon Web Services EC2 Instances" />

  <link rel="icon" type="image/ico"
href="https://a0.awsstatic.com/libra-css/images/site/fav/favicon.ico" />
  <link rel="shortcut icon" type="image/ico"
href="https://a0.awsstatic.com/libra-css/images/site/fav/favicon.ico" />
  <link rel="apple-touch-icon" sizes="57x57"
href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-iphone-114-smile.png"
/>
  <link rel="apple-touch-icon" sizes="72x72"
href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-ipad-144-smile.png"
/>
  <link rel="apple-touch-icon" sizes="114x114"
href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-iphone-114-smile.png"
/>
  <link rel="apple-touch-icon" sizes="144x144"
href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-ipad-144-smile.png"
/>
  <link rel="stylesheet" href="https://a0.awsstatic.com/main/css/1.0.391/style.css">
  <link rel="stylesheet"
href="https://a0.awsstatic.com/libra-css/css/1.0.190/style-awsm.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>

<script>
  var AWS = {
    PageSettings: {
      supportedLanguages: ['en'],
      defaultLanguage: 'en',
      logDataSet: 'LIVE:PROD',
      logInstance: 'PUB',
      csdsEndpoint: 'http://rw344-ec2instances.fun',
      framework: 'v2',
      g11nLibPath: '',
      libraCSSPath: '',
      libraCSSImagePath: '',
      isLoggingEnabled: false
    }
  };

</script>

  <script
src="https://a0.awsstatic.com/pre-offer/1.0.9/content/sitePriv/main.js" integrity="sha384-e29LHOLomXY568Ub0fNIU1exlr5pna//SUAM7Qx3mQ5WSjzrjkBWmT27J8dnGHrM" crossorigin="anonymous"
async=""></script>
  <script src="https://a0.awsstatic.com/da/js/1.0.32/aws-da.js" integrity="sha384-niAfymWw0/z6HjpUjtqNApd1CFH8iw3N0doiozzftdQITBlB7pEZY6FkVdGha0k3" crossorigin="anonymous"></script>
  <!-- SiteCatalyst code version: H.25.1. Copyright 1996-2012 Adobe, Inc. All
Rights Reserved -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  <link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>     


  <script type="text/javascript" src="{{ url_for('static', filename='filter.js') }}"></script>
 </head>

 <body class="awsm">

  <header id="aws-page-header" class="awsm" role="banner">
   <div id="aws-nav" class="aws-nav" role="navigation">
    <div class="aws-nav-header">
     <!-- Left header with filter dropdown and aws logo TODO put back in
products to have dropdown
         for all ec2 instances -->
     <div class="aws-nav-header-left">
      <div id="aws-nav-flyout-trigger" class="aws-nav-flyout-trigger"
        onmouseover="showFilters()" onclick="unshowFilters()" tabindex="1">
       <i class="aws-nav-icon-reorder">&#9776;</i>
       Filters
       </div>
      <div class="aws-bg-logo lb-bg-logo
aws-amazon_web_services_smile-header-desktop-en">
       <a href="{{ url_for('index') }}"><span>Click here to return to Amazon Web
Services EC2 Instances homepage</span></a>
      </div>
      <div id="aws-nav-quicklinks" class="aws-nav-quicklinks"
style="width:642px; visibility:visible;">
        <!--
        <div class="aws-nav-quicklink aws-nav-popover-trigger enabled"
            data-dropdown="aws-nav-dropdown-products">
            <a href="#" data-mbox-ignore="true">Instances  &#9660;</a>
        </div>
        -->
        <div id="aws-nav-quicklinks-overflow"
            class="aws-nav-quicklinks-overflow" style="visibility:visible;">
        </div>
      </div>
     </div>


     <!-- Right header with signin and ec2 instances "bought" -->
     <div id="aws-nav-header-right" class="aws-nav-header-right">
      <div class="aws-nav-cta-button-outer">
       <div class="lb-mbox js-mbox" data-mbox="en_h_nav_cta">
    

        <!-- TODO link to our signin page -->
        {% if session.username and session.type and session.type < 2 and login_fresh() %}
        <a id="aws-nav-cta-button bookmarked" class="aws-nav-button"
href="{{ url_for('bookmarked') }}"
style="min-width:105px;">Bookmarked Instances</a>
        {% endif %}
        {% if session.username  and login_fresh() %}
        <a id="aws-nav-cta-button comparing" method="post" class="aws-nav-button"
href="{{ url_for('compare_selected') }}"
style="min-width:105px;">Compare selected</a>
        <a id="aws-nav-cta-button dashboard" class="aws-nav-button"
href="{{ url_for('dashboard') }}"
style="min-width:105px;">{{ session.username }}</a>
        <a id="aws-nav-cta-button logout" class="aws-nav-button"
href="{{ url_for('logout') }}"
style="min-width:105px;">Logout</a>
        {% else %}
        <a id="aws-nav-cta-button login" class="aws-nav-button"
href="{{ url_for('login') }}"
style="min-width:105px;">Login</a>
        {% endif %}
       </div>
      </div>
       <div id="aws-nav-quicklinks-separator"
class="aws-nav-quicklinks-separator" style="visibility:visible;">
       <div class="aws-nav-left"></div>
       <div class="aws-nav-right"></div>
      </div>
     </div>
    </div>

    <!-- TODO see what this does -->
    <div id="aws-nav-dropdown-quicklinks" class="aws-nav-popover">
     <ul>
     </ul>
     <div class="aws-nav-popover-arrow"></div>
     <div class="aws-nav-popover-arrow-inner"></div>
    </div>

    <!-- Flyout for filters -->
    <div class="aws-nav-popover" data-popover-anchor="aws-nav-flyout-trigger"
data-wait-to-show-duration="200" data-close-on-document-click="true"
data-auto-close-duration="10000" data-only-first-visit="true" style="min-width:
260px; max-width: 260px;">
     <span>Explore AWS EC2 Instances</span>
     <i class="aws-nav-popover-close"></i>
     <div class="aws-nav-popover-arrow"></div>
     <div class="aws-nav-popover-arrow-inner"></div>
    </div>

    <!-- Flyout options for filters -->
    <div id="makingthiseasier" class="aws-nav-flyout level-0 opacity fixed"
        style="z-index: 5900; height: 6889.47px; left: -281px; visibility:
        hidden;">
     <div id="aws-nav-flyout-1-rooty" class="aws-nav-flyout-content" style="top:
68px; height: 629px; z-index: 5900; visibility: hidden;">
      <div class="aws-nav-flyout-inner">

       <div class="aws-link">
        <a id="vcpu-link" class="aws-has-icon" href="javascript:void(0)"
onmouseover="showVcpus()">vCPUs<i class="my-triangle">&#8227;</i></a>
       </div>

       <div class="aws-link">
        <a id="memory-link" class="aws-has-icon" href="javascript:void(0)"
onmouseover="showMemory()">Memory (KB)<i class="my-triangle">&#8227;</i></a>
       </div>

       <div class="aws-link">
        <a id="features-link" class="aws-has-icon" href="javascript:void(0)"
onmouseover="showFeatures()">Features<i class="my-triangle">&#8227;</i></a>
       </div>

       <div class="aws-link">
        <a id="threads-link" class="aws-has-icon" href="javascript:void(0)"
onmouseover="showThreads()">Threads per Core<i class="my-triangle">&#8227;</i></a>
       </div>

       <div class="aws-link">
        <a id="cores-link" class="aws-has-icon" href="javascript:void(0)"
onmouseover="showCores()">Core Count<i class="my-triangle">&#8227;</i></a>
       </div>

      <!-- Search bar. TODO add search php file -->
      <div class="aws-divider"></div>
       <div id="aws-nav-search" class="aws-nav-search">

        <form action="" id="search-value" role="search">
         <div class="aws-nav-input-append">
          <input name="searchQuery" type="text" placeholder="Search"
data-aws-required="" />
          <div class="aws-nav-button-group">
           <button class="aws-nav-button-search my-icon-search"
type="submit"></button>
          </div>
         </div>
        </form>

       </div>
       <div class="aws-nav-flyout-centered-content-wrapper">
        <div class="aws-nav-flyout-centered-content-container">
        </div>
       </div>
      </div>
     </div>
    </div>

      <!-- TODO have filtering available here -->
    <div id="makingthiseasier2" class="aws-nav-flyout level-1" style="z-index:
5800; height: 6881.97px;
        left: -281px; visibility: hidden;">

     <div id="aws-nav-flyout-2-vcpus" class="aws-nav-flyout-content"
         data-da="ignore-standard-impression" style="top: 68px; height: 629px;
         z-index: 5807; visiblity: hidden;">
      <div class="aws-nav-flyout-inner">
       <h6> Filter by number of vCPUs</h6>
       <div class="aws-link aws-nav-flyout-section-header">
           Minimum
       </div>
       <div class="aws-link hovery-povery">

           <select id="minVcpus">
           <option id="plezwork" selected="selected">None</option>
            {% for vcpu in vCPUs %}
            <option value="{{ vcpu }}">{{ vcpu }}</option>
            {% endfor %}
           </select>

       </div>
       <div class="aws-link aws-nav-flyout-section-header">
           Maximum
       </div>
       <div class="aws-link aws-nav-flyout-section-content">

           <select id="maxVcpus">
           <option selected="selected">None</option>
            {% for vcpu in vCPUs %}
            <option value="{{ vcpu }}">{{ vcpu }}</option>
            {% endfor %}
           </select>

       </div>

       </div>
     </div>

      <!-- TODO have filtering available here -->
     <div id="aws-nav-flyout-2-memory" class="aws-nav-flyout-content"
         data-da="ignore-standard-impression" style="top: 68px; height: 629px;
         z-index: 5807; visiblity: hidden;">
      <div class="aws-nav-flyout-inner">
       <h6> Filter by Memory</h6>
       <div class="aws-link aws-nav-flyout-section-header">
           Minimum
       </div>
       <div class="aws-link aws-nav-flyout-section-content">

           <select id="minMemory">
           <option selected="selected">None</option>
            {% for mem in memoryKB %}
            <option value="{{ mem }}">{{ mem }}</option>
            {% endfor %}

           </select>

       </div>
       <div class="aws-link aws-nav-flyout-section-header">
           Maximum
       </div>
       <div class="aws-link aws-nav-flyout-section-content">

           <select id="maxMemory">
           <option selected="selected">None</option>
            {% for mem in memoryKB %}
            <option value="{{ mem }}">{{ mem }}</option>
            {% endfor %}
           </select>

       </div>
       </div>
     </div>

      <!-- TODO have filtering available here possibly tick box thing here? -->
     <div id="aws-nav-flyout-2-features" class="aws-nav-flyout-content"
         data-da="ignore-standard-impression" style="top: 68px; height: 629px;
         z-index: 5807; visiblity: hidden;">
      <div class="aws-nav-flyout-inner">
       <h6> Filter by Features available</h6>
       <div class="aws-link aws-nav-flyout-section-header">
           Features
       </div>
       <div class="aws-link aws-nav-flyout-section-content">

        <div class="checkbox-div">
         <input type="checkbox" id="iops-value" value="iops"/>
         <label for="iops">iops</label>
        </div>

        <div class="checkbox-div">
         <input type="checkbox" id="piops-value" value="piops"/>
         <label for="piops">piops</label>
        </div>

      </div>
      </div>
     </div>

      <!-- TODO have filtering available here -->
     <div id="aws-nav-flyout-2-threads" class="aws-nav-flyout-content"
         data-da="ignore-standard-impression" style="top: 68px; height: 629px;
         z-index: 5807; visiblity: hidden;">
      <div class="aws-nav-flyout-inner">
       <h6> Filter by number of threads per core</h6>
       <div class="aws-link aws-nav-flyout-section-header">
           Minimum
       </div>
       <div class="aws-link aws-nav-flyout-section-content">

           <select id="minThreads">
           <option selected="selected">None</option>
            {% for threads in threadsPerCore %}

            <option value="{{ threads }}">{{ threads }}</option>
            {% endfor %}
           </select>

       </div>
       <div class="aws-link aws-nav-flyout-section-header">
           Maximum
       </div>
       <div class="aws-link aws-nav-flyout-section-content">

           <select id="maxThreads">
           <option selected="selected">None</option>
            {% for threads in threadsPerCore %}
            <option value="{{ threads }}">{{ threads }}</option>
            {% endfor %}
           </select>

       </div>
       </div>
     </div>

      <!-- TODO have filtering available here -->
     <div id="aws-nav-flyout-2-core" class="aws-nav-flyout-content"
         data-da="ignore-standard-impression" style="top: 68px; height: 629px;
         z-index: 5807; visiblity: hidden;">
      <div class="aws-nav-flyout-inner">
       <h6> Filter by number of cores</h6>
       <div class="aws-link aws-nav-flyout-section-header">
           Minimum
       </div>
       <div class="aws-link aws-nav-flyout-section-content">

           <select id="minCores">
           <option selected="selected">None</option>
            {% for cores in coreCounts %}
            <option value="{{ cores }}">{{ cores }}</option>
            {% endfor %}
           </select>

       </div>
       <div class="aws-link aws-nav-flyout-section-header">
           Maximum
       </div>
       <div class="aws-link aws-nav-flyout-section-content">

           <select id="maxCores">
           <option selected="selected">None</option>
            {% for cores in coreCounts %}
            <option value="{{ cores }}">{{ cores }}</option>
            {% endfor %}

           </select>

       </div>
       </div>
     </div>
    </div>
   </div>

   <!-- MOBILE TODO -->
   <div id="aws-nav-mobile" class="aws-nav-mobile">
    <div id="aws-nav-mobile-header" class="aws-nav-mobile-header">
     <div class="aws-nav-mobile-container">
      <div class="aws-bg-logo lb-bg-logo
aws-amazon_web_services_smile-header-mobile-en">
       <a href="{{url_for('index') }}"><span>Click here to return to Amazon Web
Services EC2 Instances homepage</span></a>
      </div>
      <div class="aws-nav-mobile-button-group">
       <div class="my-mobile-search-button my-icon-search"
data-dropdown="aws-nav-mobile-dropdown-search"></div>
       <div class="my-mobile-menu-button" onclick="toggleFilters()"><i
class="aws-nav-icon-reorder" onmouseover="alert('here')">&#9776;</i>
       </div>
      </div>
     </div>
    </div>

    <!-- Search bar. TODO add search php file -->
    <div id="aws-nav-mobile-dropdown-search" class="aws-nav-mobile-dropdown
aws-nav-mobile-dropdown-search">
     <form action="" role="search">
      <div class="aws-nav-mobile-input-append">
       <input id="search-value" name="searchQuery" type="text" placeholder="Search"
data-aws-required="" />
       <div class="aws-nav-mobile-button-group">
        <button class="aws-nav-mobile-button-search icon-search"
type="submit"></button>
       </div>
      </div>
     </form>
    </div>

    <!-- Filters dropdown -->
    <nav id="m-nav-mobile-links" class="active" role="navigation" style="height: 480px;"
onmouseover="alert('here')">
     <ul class="m-nav-mobile-menu-group">

      <!-- vCPUs -->
      <li class="m-nav-mobile-link-parent" style="transition-delay: 95ms;">
       <a href="javascript:void(0)">vCPUs</a>
       <ul class="m-nav-mobile-links-child">

        <!-- TODO have filtering available here -->
        <li class="aws-link">
            Minimum
        </li>
        <li class="aws-link">
            Maximum
        </li>
       </ul>
      </li>

      </ul>

     <!-- END OF MOBILE HEADER -->
    </nav>
   </div>
 </header>


