<!DOCTYPE html>
<html class="no-js aws-lng-en_US">
{% include 'header.html' %}

  <!-- Actual content TODO look at https://aws.amazon/ec2/?nc2=h_m1 -->
  <div id="aws-page-content" class="lb-none-pad lb-page-content"
data-page-alert-target="true">
   <main role="main">
	<div class="wrapper row" id="position-me">
	<div class="twelve columns" id="change-me">
	<div class="parsys col1">
	<div class="table-wrapper-section" style="overflow-x:auto;">
	<div id="instances-yo" class="aws-table" data-is-sticky-header="false">
    <!-- TODO content
	<?php include 'show_min_instances.php'?>
    -->
<table id="table-instances" width="100%" cellspacing="0" cellpadding="1" border="0">
    <thead>
	<tr name="no-selecting">
		{% if session.type and session.type < 2 and login_fresh() %}<td></td>{% endif %}
		<td><b>Instance Type</b></td>
		<td><b>vCPUs</b></td>
		<td><b>Memory (KB)</b></td>
		<td><b>iops</b></td>
		<td><b>piops</b></td>
		<td><b>Threads Per Core</b></td>
		<td><b>Core Count</b></td>
		<td><b>Platforms</b></td>
		<td><b>Pricing</b></td>
		{% if session.type and session.type < 2 and login_fresh() %}<td></td>{% endif %}
	</tr>
   </thead>
   <tbody>

    {% for instance in instances %}
        {% if instance['name'] in myselected %}
        <tr name="select-compare" class="selected" onclick="flask_select('{{ instance['name'] }}');"  id="{{ instance['name'] }}" class="{{ instance['bookmarked'] }}">
        {% else %}
        <tr name="no-select-compare" onclick="flask_select('{{ instance['name'] }}');"  id="{{ instance['name'] }}" class="{{ instance['bookmarked'] }}">
        {% endif %}
    {% if session.type and session.type < 2 %}
    {% if instance['name'] in bookmarked and login_fresh() %}
	<td><form action="{{ url_for('unbookmark', place='index') }}" method="post">
		<button class="btn btn-danger pull-left" name="unbookmark" value="{{ instance['name'] }}" onclick="btnCall(event);">Unbookmark</button>
	</form></td>
	{% elif login_fresh() %}
	<td><form action="{{ url_for('bookmark', place='index') }}" method="post">
		<button class="btn btn-primary pull-left" name="bookmark" value="{{ instance['name'] }}" onclick="btnCall(event);">Bookmark</button>
	</form></td>
    {% endif %}
    {% endif %}
            <td class='Instance-name'>{{ instance['name'] }}</td>
            <td class='vcpu-value'>{{ instance['vCPUs'] }}</td>
            <td class='memory-value'>{{ instance['memoryKB'] }}</td>

            {% if 'iops' in instance['features'] %}
            <td class='iops-value'>Available</td>
            {% else %}
            <td class='iops-value'>Not Available</td>
            {% endif %}

            {% if 'piops' in instance['features'] %}
            <td class='piops-value'>Available</td>
            {% else %}
            <td class='piops-value'>Not Available</td>
            {% endif %}
            <td class='threads-value'>{{
                instance['cpuOptions']['threadsPerCore']|join(', ') }}</td>
            <td class='cores-value'>{{
                instance['cpuOptions']['coreCounts']|join(', ') }}</td>
            <td class='platforms-value'>{{ instance['platforms']|join(', ') }}</td>

        {% if price and price != ' ' and login_fresh() %}
            {% if price in instance['pricing'] and login_fresh() %}
                    <td class='pricing-value'>{{ price }} ${{ instance['pricing'][price] }} hourly </td>
            {% else %}
                    <td class='pricing-value'>Not Available</td>
            {% endif %}
        {% else %}

		<td class='pricing-value'>
	    <div class="btn-group">
	    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 View Prices
	    </button>
		

		<div class="dropdown-menu dropdown-menu">
            {% if not price %}
			{% if instance['pricing'] == 'null' %}
				<p style="color:#000000; padding-left: 10px; padding-right: 10px;">Not Available</p>
			{% else %}
				{%- for row in instance['pricing'] %}
				<p style="color:#000000; padding-left: 10px; padding-right: 10px;">{{ row }} ${{ instance['pricing'][row] }} hourly</p>
				{% endfor %}
			{% endif %}
			{% elif price == ' ' %}
				{%- for row in instance['pricing'] %}
				<p style="color:#000000; padding-left: 10px; padding-right: 10px;">{{ row }} ${{ instance['pricing'][row] }} hourly</p>
				{% endfor %}
			{% elif price in instance['pricing'] and login_fresh() %}				
				<p style="color:#000000; padding-left: 10px; padding-right: 10px;">{{ price }} ${{ instance['pricing'][price] }} hourly</p>
			{% elif instance['pricing'] != 'null' and not login_fresh() %}
				{%- for row in instance['pricing'] %}
				<p style="color:#000000; padding-left: 10px; padding-right: 10px;">{{ row }} ${{ instance['pricing'][row] }} hourly</p>
				{% endfor %}
			{% else %}
				<p style="color:#000000; padding-left: 10px; padding-right: 10px;">Not Available</p>
			{% endif %}
			
		</div>
		</div>
		</td>
		{% endif %}

        {% if session.type and session.type < 2 and login_fresh() %}
	        <td><a class="btn btn-primary pull-right" href="https://eu-west-2.console.aws.amazon.com/ec2/v2/home?region=eu-west-2#LaunchInstanceWizard" role="button">Purchase</a></td>
        {% endif %}	
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>

function btnCall(e){
	e.stopPropagation();
}

</script>

    	</div>
    	</div>
    	</div>
    	</div>
        </div>
   </main>
  </div>

  <div id="aws-page-end"></div>
  <div id="lb-page-end"></div>
 </body>
</html>
