
@import url("https://fonts.googleapis.com/css?family=AmazonEmberBold");

.table-wrapper-scroll-y {
  display: block;
  overflow-y: auto;
  max-height: 85vh;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.my-mobile-menu-button {
    float: left;
    display: block;
    width: 42px;
    height: 44px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 1px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-right-color: currentcolor;
    border-right-style: none;
    border-right-width: 0px;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    line-height: 2;
    text-align: center;
    font-size: 24px;
    background-color: transparent;
    cursor: pointer;
    vertical-align: baseline;
    background-image: none;
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: repeat;
    font-weight: 400;
    font-style: normal;
    text-decoration-line: inherit;
    text-decoration-style: inherit;
    text-decoration-color: inherit;
    box-sizing: border-box;
    color: #ffffff;
}

.my-mobile-menu-button:hover {
    color: #f8991d;
}

.my-mobile-menu-button:active {
    color: #ffffff;
}

.my-mobile-search-button {
    float: left;
    display: block;
    width: 42px;
    height: 44px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 1px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-right-color: currentcolor;
    border-right-style: none;
    border-right-width: 0px;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    line-height: 2;
    text-align: center;
    font-size: 24px;
    background-color: transparent;
    cursor: pointer;
    vertical-align: baseline;
    background-image: none;
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: repeat;
    font-weight: 400;
    font-style: normal;
    text-decoration-line: inherit;
    text-decoration-style: inherit;
    text-decoration-color: inherit;
    box-sizing: border-box;
    color: #ffffff;
}

.my-mobile-search-button:hover {
    color: #f8991d;
}

.aws-nav-flyout-trigger * {
         pointer-events: none;
}

li {
 display: block;
 transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

#features-link:hover {
    color: #f8991d;
}
#memory-link:hover {
    color: #f8991d;
}
#threads-link:hover {
    color: #f8991d;
}
#cores-link:hover {
    color: #f8991d;
}
#vcpu-link:hover {
    color: #f8991d;
}

h6 {
    font-family: AmazonEmberBold,Helvetica Neue Bold,Helvetica
Neue,Helvetica,Arial,sans-serif;
    line-height: 19.5px;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    text-rendering: optimizelegibility;
}

.my-icon-search::before {
    content: "\260c";
}

.my-icon-search {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    margin-right: -28px;
    margin-left: 28px;
    overflow: hidden;
    padding-top: 7px;
    padding-right: 0px;
    padding-bottom: 6px;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 83%;
    height: 32px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    background-color: transparent;
    text-align: left;
}

#table-instances .selected {
	background:#28a6d7 !important;
}

#table-instances .selected p{
	color:#000000 !important;
}

#table-instances .selected tr:nth-child(odd) { 
	background: #28a6d7 !important;
}

#table-instances tr.selected td{
	background-color: #232f3e !important;
    color: #ffffff !important;
}

#table-instances tr {
    display: table-row;
}

#table-instances-admin tr {
    display: table-row;
}

#table-instances-admin td {
    min-width: 235px;
}

#table-button {
    min-width: 0px;
    max-width: 100px;
}

#change-me {
    width: 80%;
}

#position-me {
    top:25%;
    left:25%;
}

.checkbox-div {
    margin-right: -26px;
    margin-left: 26px;
    padding-top: 7px;
    padding-right: 0px;
    padding-bottom: 6px;
    padding-left: 8px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width:768px) {
    #position-me {
        top: 0%;
        left: 0%;
        width: auto !important;
        max-width: none;
        min-width: 0;
        position: relative;
        box-sizing: border-box;
    }

    #change-me {
        width: auto !important;
        min-height: 2px;
        position: relative;
        padding-top: 0px;
        padding-right: 10px;
        padding-bottom: 0px;
        padding-left: 10px;
        font-size: 1em;
        line-height: 1.6em;
        text-align: left;

    }

}

