	@media
	only screen 
          and (max-width: 760px), (min-device-width: 768px) 
          and (max-device-width: 1024px)  {

                /* Force :*/
                table, thead, tbody, th, td, tr {
                        display: block;
                }

                /* Hide table headers (but not display: none;, for accessibility) */
                thead tr {
                        position: absolute;
                        top: -9999px;
                        left: -9999px;
                }

                tr {
                        margin: 0 0 1rem 0;
                 }

                tr:nth-child(odd) {
                        background: #ccc;
                }

                td {
                        /* Behave  like a "row" */
                        border: none;
                        border-bottom: 1px solid #eee;
                        position: relative;
                        padding-left: 10%;
                }

                td:before {
                        /* Now like a table header */
                        position: absolute;
                        /* Top/left values mimic padding */
        		top:0;
			left:10px;           
                        width: 45%;
                        padding-right: 10px;
                        white-space: nowrap;
                }

                /*
                Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
                */
                td:nth-of-type(1):before { content: "Instance Type"; }
                td:nth-of-type(2):before { content: "cCPUs"; }
                td:nth-of-type(3):before { content: "Memory (KB)"; }
                td:nth-of-type(4):before { content: "iops"; }
		td:nth-of-type(5):before { content: "piops"; }
                td:nth-of-type(6):before { content: "Threads Per Core"; }
                td:nth-of-type(7):before { content: "Core Count"; }
                td:nth-of-type(8):before { content: "Platforms"; }
        }

